/* This code sets the style for the #navHeader element */

#topNav {
    position: sticky;
    top: 0;
    transition: transform 1s cubic-bezier(0.51, 0.83, 0, 0.99);
}

#navHeader {
    background-color: #333; /* Sets the background color of the #navHeader element to dark gray */
    overflow: hidden; /* Hides any content that overflows the #navHeader element */
    display: flex; /* Sets the display property of the #navHeader element to flex */
    justify-content: space-between; /* Aligns the child elements of the #navHeader element with space between them */
    align-items: center; /* Aligns the child elements of the #navHeader element vertically at the center */
   /* transform: translateY(-50%); */
   z-index: 99999;
}

#navHeader .title a {
    font-size: 20px;
    font-weight: 500;
}

#navHeader a {
    font-size: 20px;
    font-weight: 400;
}

/* This code sets the style for the ul element inside the #navHeader element */
#navHeader ul {
    margin: 0;
    float: right; /* Moves the ul element to the right of the #navHeader element */
    display: flex; /* Sets the display property of the ul element to flex */
    list-style: none; /* Removes the default bullet points from the ul element */
}

/* This code sets the style for the a element inside the #navHeader element */
#navHeader a {
    /* float: left;  */
    display: inline-block; 
    color: white; 
    text-align: center; 
    padding: 10px 12px; 
    /* margin: 3px 10px; */
    text-decoration: none;
}

/* This code sets the style for the a element inside the #navHeader element when it is hovered over */
#navHeader a:hover {
    background-color: #c9c9c9; /* Sets the background color of the a element to light gray */
    color: black; /* Sets the text color of the a element to black */
}

/* This code sets the style for the element with the class "active" inside the #navHeader element */
.active {
    background-color: #4CAF50; /* Sets the background color of the element with the class "active" to green */
}


.belowBtn {
    background-color: #333; /* or #43A047; /* Sets the background color of the button element to green */
    border: none; /* Removes the border from the button element */
    color: white; /* Sets the text color of the button element to white */
    padding: .6em 16px; /* Adds padding to the top and bottom (.6em) and left and right (16px) of the button element */
    padding-top: .3em;
    margin: 0px; /* Adds margin to the button element */
    margin-left: .6em;
    text-align: center; /* Centers the text inside the button element */
    text-decoration: none; /* Removes the default underline from the button element */
    display: inline-block; /* Sets the display property of the button element to inline-block */
    justify-content: center;
    font-size: 15px; /* Sets the font size of the button element to 16px */
    cursor: pointer; /* Changes the cursor to a pointer when hovering over the button element */
    font-weight: 400; /* Sets the font weight of the button element to bold */
    border-radius: 0px 0px 10px 10px;
}

#showHideHeader {
    width: 70px; 
}