@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}


body.light-theme {
    --txt-color: black;
    --bkg-color: #c0d8ff;
    --link-color: #1e314f;
    --bkg-field: #a3a3a3;
}

body.dark-theme {
    --txt-color: white;
    --bkg-color: #1e314f;
    --link-color: #c0d8ff;
    --bkg-field: #6d6d6d;
}

input, textarea {
    color: var(--txt-color);
    background: var(--bkg-field);
}

body {
    margin: 0;
    background: var(--bkg-color);
}

main {
    margin: 0 auto;
    padding: 0em 1em 1em 1em;
    color: var(--txt-color);
}


a {
    color : var(--link-color);
}

.submit {
    padding: 10px 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.submit:hover {
    background-color: #45a049;
}
