<main>
    <h1>Contact Me</h1>
    <p>Feel free to contact me if you have any problems, questions or suggestions.</p>
    <p>You can contact me by filling out the form below.</p>
    
    <form id="contact-form" action="POST">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" <% if (user.connected){%>placeholder="<%= user.name %>"<%}%> required>
    
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" <% if (user.connected){%>placeholder="<%= user.mail %>"<%}%> required>
    
        <label for="message">Message:</label>
        <textarea id="message" name="message" required></textarea>
    
        <button type="submit">Send</button>
    </form>
</main>
