<main>
    <h1>Welcome <%if (user.connected) { %><%= user.name %><% } %> to my website</h1>
    
    <p>Thank you for visiting my website. Here you will find information about my services and how I can help you achieve your goals.</p>
    <p>You have access to some feature, click on the app icon to access the feature.</p>
    <p>If you connect to the app, you will be able to access more features, for instance, you will be able to create a new post, edit your profile, etc.</p>
    <p>You will also be able to save your data of the apps</p>
    <p>Feel free to browse around and contact me if you have any questions or would like to schedule a consultation.</p>
    <p>I look forward to hearing from you!</p>
</main>