
body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("connexion_background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.7);
    width: max(40vw, 600px);
    height: max(40vh, 600px);
    margin: 5vw 5vh;
    padding: 0px 40px;
    padding-bottom: 20px;
}

h1 {
    color: #b82b09;
    text-align: center;
}



.input-field {
    background: rgba(255, 255, 255, 0.6);
    margin-bottom: 10px;
    padding-left: 15px;
    border: 2px solid transparent;
}

.input-field input {
    margin: 10px 0;
    min-width: 25vw;
    padding: 10px;
    border-radius: 5px;
    outline: none;
    border: none;
    background: transparent;
}


.forgot {
    text-align: center;
    font-weight: bold;
    color: black;
}

.forgot a {
    color: #b82b09;
    text-decoration: none;
}

.btn-field {
    text-align: center;
}

.btn-field button {
    background: #b82b09;
    color: #fff;
    border: none;
    padding: 10px 20px;
    min-width: 30%;
    margin: 5px 15px;
    border-radius: 50px;
    cursor: pointer;
    outline: none;
    font-weight: 700;
    border: 3px solid #b82b09;
}

#signInBtn {
    color: #b82b09;
    background: transparent;
}