<main>
    <div>
        <label id="CounterValue">0</label>
    </div>
    <div>
        <button type="button" id="decr">-1</button>
        <button type="button" id="reset">Reset</button>
        <button type="button" id="incr">+1</button>
    </div>
    <div id="ChangeButtons">
        <button type="button" id="changeLess">&times;0.1</button>
        <input type="text" id="input" value="Write">
        <button type="button" id="changeMore">&times;10</button><br>
        <button type="button" id="Change">Change</label>
    </div>
    <script>
        <%- include('../../js/counter.js') %>
    </script>
</main>