
.toggleWrapper input {
    position: absolute;
    left: -99em;
  }
  
  
  .toggle {
    cursor: pointer;
    display: inline-block;
    position: relative;
    width: 7.0vh;
    height: 3.0vh;
    background-color: #83d8ff;
    border-radius: 10.0vh;
    transition: background-color 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  }
  
  /* .toggle:before {
    content: "AM";
    position: absolute;
    left: -4.0vh;
    top: 0.4vh;
    font-size: 1.8vh;
  } */
  
  /* .toggle:after {
    content: "PM";
    position: absolute;
    right: -4.0vh;
    top: 0.4vh;
    font-size: 1.8vh;
    color: #749ed7;
  } */
  
  
  .toggle__handler {
    display: inline-block;
    position: relative;
    z-index: 1;
    top: 0.3vh;
    left: 0.2vh;
    width: 2.5vh;
    height: 2.5vh;
    background-color: #ffcf96;
    border-radius: 5.0vh;
    box-shadow: 0 0.2vh 0.6vh rgba(0, 0, 0, 0.3);
    transition: all 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transform: rotate(-45deg);
  }
  
  .toggle__handler .crater {
    position: absolute;
    background-color: #e8cda5;
    opacity: 0;
    transition: opacity 200ms ease-in-out;
    border-radius: 100%;
  }
  
  .toggle__handler .crater--1 {
    top: 1.8vh;
    left: 1.2vh;
    width: 0.4vh;
    height: 0.4vh;
  }
  
  .toggle__handler .crater--2 {
    top: 2.8vh;
    left: 2.2vh;
    width: 0.6vh;
    height: 0.6vh;
  }
  
  .toggle__handler .crater--3 {
    top: 1.0vh;
    left: 2.5vh;
    width: 0.8vh;
    height: 0.8vh;
  }
  
  
  .star {
    position: absolute;
    background-color: #ffffff;
    transition: all 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
    border-radius: 50%;
  }
  
  
  .star--1 {
    top: 0.4vh;
    left: 3.0vh;
    z-index: 0;
    width: 2.3vh;
    height: 0.2vh;
  }
  
  
  .star--2 {
    top: 1.2vh;
    left: 3.5vh;
    z-index: 1;
    width: 3.0vh;
    height: 0.3vh;
  }
  
  
  .star--3 {
    top: 2.0vh;
    left: 3.3vh;
    z-index: 0;
    width: 2.8vh;
    height: 0.3vh;
  }
  
  
  .star--4,
  .star--5,
  .star--6 {
    opacity: 0;
    transition: all 300ms 0 cubic-bezier(0.445, 0.05, 0.55, 0.95);
  }
  
  
  .star--4 {
    top: 0.7vh;
    left: 1.1vh;
    z-index: 0;
    width: 0.2vh;
    height: 0.2vh;
    transform: translate3d(.3vh, 0, 0);
  }
  
  
  .star--5 {
    top: 1.1vh;
    left: 2.0vh;
    z-index: 0;
    width: 0.3vh;
    height: 0.3vh;
    transform: translate3d(.3vh, 0, 0);
  }
  
  
  .star--6 {
    top: 2.0vh;
    left: 1.0vh;
    z-index: 0;
    width: 0.2vh;
    height: 0.2vh;
    transform: translate3d(.3vh, 0, 0);
  }
  
  
  input:checked + .toggle {
    background-color: #749dd6;
  }
  
  input:checked + .toggle:before {
    color: #749ed7;
  }
  
  input:checked + .toggle:after {
    color: #ffffff;
  }
  
  input:checked + .toggle .toggle__handler {
    background-color: #ffe5b5;
    transform: translate3d(4.0vh, 0, 0) rotate(0);
  }
  
  input:checked + .toggle .toggle__handler .crater {
    opacity: 1;
  }
  
  input:checked + .toggle .star--1 {
    width: 0.2vh;
    height: 0.2vh;
  }
  
  input:checked + .toggle .star--2 {
    width: 0.4vh;
    height: 0.4vh;
    transform: translate3d(-.5vh, 0, 0);
  }
  
  input:checked + .toggle .star--3 {
    width: 0.2vh;
    height: 0.2vh;
    transform: translate3d(-.7vh, 0, 0);
  }
  
  input:checked + .toggle .star--4,
  input:checked + .toggle .star--5,
  input:checked + .toggle .star--6 {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  
  input:checked + .toggle .star--4 {
    transition: all 300ms 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  }
  
  input:checked + .toggle .star--5 {
    transition: all 300ms 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  }
  
  input:checked + .toggle .star--6 {
    transition: all 300ms 400ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  }
   