
<div id="top-bar"> <!--TODO: menu deroulant pour par exemple create blog, ...-->
    <!-- TODO: Style for mobiles -->
    <button id="activate">
        <div class="line one"></div>
        <div class="line two"></div>
        <div class="line three"></div>
        <div class="text">&gt;</div>
    </button>
    <ul id="top-nav-ul">
        <li><a href='/'>Home</a></li>
        <li><a href='/apps'>Apps</a></li>
        <li><a href='/blog'>Blog</a></li>
        <li><a href='/about'>About</a></li>
        <li><a href='/contact'>Contact</a></li>
        <% if (user.connected) { %>
        <li><a href='/profile'>Profile</a></li>
        <li><a href='/connexion'>Log Out</a></li>
        <% } else { %>
        <li><a href='/connexion'>Log In</a></li>
        <% } %>
            <li class="toggleWrapper" id="darkLightBtn">
            <input type="checkbox" class="dn" id="dn"/>
            <label for="dn" class="toggle">
              <span class="toggle__handler">
                <span class="crater crater--1"></span>
                <span class="crater crater--2"></span>
                <span class="crater crater--3"></span>
              </span>
              <span class="star star--1"></span>
              <span class="star star--2"></span>
              <span class="star star--3"></span>
              <span class="star star--4"></span>
              <span class="star star--5"></span>
              <span class="star star--6"></span>
            </label>
          </li>

        </ul>
    </div>
</div>
        <script>
            const MENUBTN = document.getElementById('activate');
            const MENUBTNTXT = document.querySelector('#activate .text');
        
            MENUBTN.onclick = function() {
                document.body.classList.toggle('menu-hidden');
                if (MENUBTNTXT.innerHTML == "&gt;") {
                    MENUBTNTXT.innerHTML = "&lt;"
                } else {
                    MENUBTNTXT.innerHTML = "&gt;"
                }
            }
        
        </script>