<main>

    <h1>Joystick</h1>

  <div>
    <span class="nb"> X: <span id="x_coordinate"> </span> </span>
    <span class="nb"> Y: <span id="y_coordinate"> </span> </span>
    <span class="nb"> Vitesse: <span id="speed"> </span> % </span>
    <span class="nb"> Angle: <span id="angle"> </span> </span>
  </div>
  
  <canvas id="canvas"></canvas>
  
  <%- include('../../js/joystick.js') %>
</main>
