<main>
  <div class="container">
    <h1>Apps</h1>
    <p>You can click on the links bellow to access to the apps</p>
    <ul>
      <li><a href="/apps/calculator">Calculator</a></li>
      <li><a href="/apps/counter">Counter</a></li>
      <li><a href="/apps/todo">TodoList</a></li>
    </ul>
  </div>
</main>