<main>
    <div class="container">
        <div class="profile">
            <img class="profile-image" src="/defaultProfile.jpg" alt="Profile Image">
            <div class="profile-info">
                <h1 class="profile-name"><%= user.name %></h1>
                <h2 class="profile-email"><%= user.mail %></h2>
                <p class="profile-bio">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam euismod, nunc id aliquet ultrices, nisl justo consequat nunc, id tincidunt nunc velit auctor enim.</p>
            </div>
        </div>
    </div>
</main>
