
   
   .create-blog {
        width: 80vw;
        margin: 0 auto;
        background-color: transparent;
        border: 0;
    }

    .create-blog label {
        display: block;
        margin-bottom: 10px;
        font-weight: bold;
    }

    .create-blog input[type="text"],
    .create-blog textarea {
        width: 100%;
        padding: 5px;
        margin-bottom: 10px;
        border: 2px solid #ccc;
        border-radius: 3px;
        font-size: 16px;
    }

    /* .create-blog button {
        padding: 10px 20px;
        background-color: #4CAF50;
        color: #fff;
        border: none;
        border-radius: 3px;
        cursor: pointer;
    }

    .create-blog button:hover {
        background-color: #45a049;
    } */

    textarea {
        height: max(40vh, 300px);
    }
